SISTEMADECLINICA/Connected Services/wcfServiceClinica/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50224/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50224/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50224/Service.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_listarEmpleados_InputMessage">
    <wsdl:part name="parameters" element="tns:listarEmpleados" />
  </wsdl:message>
  <wsdl:message name="IService_listarEmpleados_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarEmpleadosResponse" />
  </wsdl:message>
  <wsdl:message name="IService_listarPrivilegios_InputMessage">
    <wsdl:part name="parameters" element="tns:listarPrivilegios" />
  </wsdl:message>
  <wsdl:message name="IService_listarPrivilegios_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarPrivilegiosResponse" />
  </wsdl:message>
  <wsdl:message name="IService_validarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:validarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_validarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:validarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_agregarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_agregarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_modificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_modificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_listarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:listarUsuarios" />
  </wsdl:message>
  <wsdl:message name="IService_listarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarUsuariosResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="listarEmpleados">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/listarEmpleados" message="tns:IService_listarEmpleados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/listarEmpleadosResponse" message="tns:IService_listarEmpleados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarPrivilegios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/listarPrivilegios" message="tns:IService_listarPrivilegios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/listarPrivilegiosResponse" message="tns:IService_listarPrivilegios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="validarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/validarUsuario" message="tns:IService_validarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/validarUsuarioResponse" message="tns:IService_validarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/agregarUsuario" message="tns:IService_agregarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/agregarUsuarioResponse" message="tns:IService_agregarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/modificarUsuario" message="tns:IService_modificarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/modificarUsuarioResponse" message="tns:IService_modificarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/listarUsuarios" message="tns:IService_listarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/listarUsuariosResponse" message="tns:IService_listarUsuarios_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarEmpleados">
      <soap:operation soapAction="http://tempuri.org/IService/listarEmpleados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarPrivilegios">
      <soap:operation soapAction="http://tempuri.org/IService/listarPrivilegios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/validarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/agregarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/modificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarUsuarios">
      <soap:operation soapAction="http://tempuri.org/IService/listarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:50224/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>